@model Assignment_WAD.Models.StudentLate
@{
    ViewBag.Title = "Thêm Sinh Viên Bị Phạt";
}
<section>

    <div class="row py-4">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header">
                    <h2 class="fw-bold">Thêm Sinh Viên Đóng Phạt</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            @Html.LabelFor(m => m.rollNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.rollNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.rollNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.fullName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.fullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Method, new { @class = "form-label" })
                            <div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.Method, "Money", new { @class = "form-check-input", @checked="checked",@id = "money" })
                                    <label class="form-check-label" for="money">
                                        Đóng Tiền
                                    </label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.Method, "Push_Up", new { @class = "form-check-input", @id = "pushup" })
                                    <label class="form-check-label" for="pushup">
                                        Chống Đẩy
                                    </label>
                                </div>
                              @*  <div class="form-check">
                                    @Html.RadioButtonFor(m => m.Method, "other", new { @class = "form-check-input", @id = "other" })
                                    <label class="form-check-label" for="other">
                                        Hình Thức Khác
                                    </label>
                                </div>*@

                            </div>
        
                            @Html.ValidationMessageFor(m => m.Method, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Fines, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Fines, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fines, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Cause, new { @class = "form-label" })
                            @Html.TextAreaFor(m => m.Cause, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Cause, "", new { @class = "text-danger" })

                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    }
                </div>
            </div>
            
        </div>
        <div class="col"></div>
    </div>
</section>
