@model Assignment_WAD.Models.StudentLate
@{
    ViewBag.Title = "About";
}
<section>
    <div class="row py-4">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Home", new { @class = "" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            @Html.LabelFor(m => m.rollNumber, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.rollNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.rollNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.fullName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.fullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Fines, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Fines, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fines, "", new { @class = "text-danger" })

                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Cause, new { @class = "form-label" })
                            @Html.TextAreaFor(m => m.Cause, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Cause, "", new { @class = "text-danger" })

                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    }
                </div>
            </div>
            
        </div>
        <div class="col"></div>
    </div>
</section>
